
/* this is a comment */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
div.container{
    border:5px solid red;
    width: 80%;
    margin: 0 auto; /* 0=top bottom auto=right left*/
}
header{
    background-color: burlywood;
}
.hero img{
    width: 100%;
}
div.left, div.middle, div.right{
    border: 3px dotted green;
    width: 30%;
}

aside img{
    width:100%;
}
aside{
    display: flex; /* better alternative to floats */
    justify-content: space-between;
}

nav{
    background-color: dimgray;

}
 
ul{
    text-align: center;
}

li{
    display: inline-block;
    width: 100px;
    border: 2px solid white;
    line-height: 3em; /* 3x as high as default font */
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-variant: small-caps;
    background-color: darkgrey;
}

a{
    color: aliceblue;
    text-decoration: none;
    border: 1px solid red;
    display: block;
}
